######################################################################
# D-LFS.config
# 
# Define configuration values
#

export DEV_LFS=/dev/sdb6   # MAKE SURE THAT THIS IS CORRECT!
export DEV_LBL=LFS-NEW     # Label for DEV_LFS partition.
export DEV_SWP=/dev/sdb2
export LFS=/mnt/LFS        # Where DEV_LFS will be mounted.
export LFS_USER=lfs

export LFS_VERSION=7.2

#The Directory on $LFS to contain the scripts, sources, and build logs.
#There will be a symlink to it on "/" of the host, similar to the tools dir.
export WORKING_BASE=D-LFS

export TMP_BUILD_LOGS=/tmp/BUILD_LOGS #used in early part of build

export TIMEZONE=America/New_York

#values for 7.02 /etc/sysconfig, /etc/resolve.conf
export HOSTNAME="D-LFS-NEW"
export ONBOOT=yes
export IFACE=eth0
export SERVICE=ipv4-static
export IP=10.0.0.5
export GATEWAY=10.0.0.1
export PREFIX=24
export BROADCAST=10.0.0.255

export NAMESERVER=10.0.0.1

#The Google Public IPv4 DNS addresses are 8.8.8.8 and 8.8.4.4.

